body {
font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
font-size: 17px;
line-height: 1.42857;
color: rgb(182, 231, 103); 
background-color: white;
}
.top-nav{
  position: fixed;
  background: #1b1b1b;
  width: 100%;
  z-index: 12;
}
.top-nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #fff;
  color: black;
}
.img{
  background: url('img3.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
}
.center .btns button:first-child{
  color: #fff;
  background: none;
}
.btns button:first-child:hover{
  background: white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color: black;
}


h4{
color: #1B1B1B;
font: bold 18px/24px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
text-transform: uppercase;
margin-bottom: 12px;
}
h2{
color: #f7f7f7;
margin-bottom:30px;
}
h3{
font-size: 20px;
color: #696969;
}
a.button {
text-decoration: none;
float: left;
line-height: 54px;
color: white;
}
.btn-prime{
color: white;
background: #10bbf1;
}
.btn-prime:hover {
color:#fff;
background: #40c9f4;
border-color: #40c9f4;
}
.button {
color: white;
background: #070707;
height: 58px;
border: 2px solid #0a0a0a;
font: 500 22px "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
padding: 0 21px;
-moz-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
-ms-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
-o-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
-webkit-transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
transition: color 0.1s linear, background-color 0.1s linear, border-color 0.1s linear;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}
a.button.button-stripe {
background-color: rgba(0, 0, 0, 0.2);
border-color: white;
}
a.button.button-stripe:hover {
color: #222222;
background-color: white;
border-color: white;
} 
a.button.button-stripe {
background-color: black;
border-color: black;
}
a.button:hover {
color: white;
}
.button:hover {
background: #070707;
border-color: #40c9f4;
}
.buttons-wrapper .button-stripe {
margin-left: 14px;
}
header .buttons-wrapper {
padding-top: 53px;
}
.side-nav {
position: fixed;
top: 45%;
right: 20px;
z-index: 1030;
}
.side-nav ul.nav-side-nav {
text-align: center;
list-style: none;
margin: 0;
padding-left: 0;
}
.side-nav ul.nav-side-nav > li {
display: block;
line-height: 1.42857;
margin: 0;
padding: 8px 0;
}
.side-nav ul.nav-side-nav > li > a {
display: block;
width: 10px;
height: 10px; 
background:black;
}
.mainBanner {
padding-top: 100px;
padding-bottom: 100px;
}
.mainBanner {
padding: 30px 0;
margin-bottom: 0;
color: white;
background:#ece2e8;
background-size: cover;
text-align: center;
background:white;
background-size:cover;
} 	
.mainBanner .img-logo {
display:block;
width: auto;
height: auto;
margin-top: 0px;
margin-bottom: 0px;
}
.mainBanner h1, .mainBanner .h1 {
font-size: 35px;
text-align: left;
color: #0f010c;
text-transform: uppercase;
}
.mainBanner p {
margin-bottom: 15px;
font-size: 20px;
font-weight: 200;
text-align:justify;
color: #05810b;
}
.mainBanner  img.img-iPhone {
position: relative;
bottom: -30px;
}
.mainBanner .btn-app-store {
margin-top: 40px;
}
.mainBanner p {
margin-bottom: 15px;
font-size: 20px;
font-weight: 200;
}
.mainBanner .btn-app-store .btn.btn-lg, .mainBanner .btn-app-store .btn-group-lg > .btn {
padding: 0;
}
.mainBanner .img-iPhone {
display: block;
margin-left: auto;
margin-right: auto;
width: 333px;
height: auto;
}
.highlights {
  background: #05810b;
  text-align: center;
  padding: 100px 0;
}
.highlights .row.row-padding {
  padding-top: 40px;
}

.highlightsCol {
  padding-bottom: 20px;
} 
.highlightsImg.img-margin {
margin-top: 14px;
margin-bottom: 31px;
}
.highlightsImg {
display: block;
margin-left: 10px;
margin-right: 10px;
width: 80px;
height: auto;
margin-top: 10px;
margin-bottom: 10px; 
}
.ourFeatures {
  background: white;
  text-align: left;
  padding: 100px 0 0;
}
.ourFeatures .row.row-padding {
  padding-top: 40px;
}
.ourFeatures .img-iPhone {
position: relative;
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
height: auto;
}
.ourFeatures .btn-prime-border {
background: transparent;
border-width: 2px;
border-style: solid;
border-color: #dc554f;
color: #dc554f;
padding-top: 8px !important;
padding-bottom: 8px !important;
}
.featuresBtm{
margin-top:150px;
margin-bottom:0px;
}
.subscribe {
background: #05810b;
text-align: center;
padding: 100px 0;
background-size: cover;
color: white;
display:block;
}
.subscribe h2{
color:#fff;
}
.subscribe h1{
  color:#fff;
  text-align: center;
  padding: 10px;
  margin-top: auto;
  }
.subscribe input{
padding: 20px 10px;
width: 350px;
}
.subscribe button{
color: white;
background: #10bbf1;
margin: 0px;
padding: 10px 20px;
margin-left: -10px;
}
.subscribe-description { 
padding: 40px 0;
}
.footer-section {
background: white;
text-align: left;
padding: 60px 0;
}
.about-us {
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.follow-us {
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.social-links {
  display: flex;
  justify-content: center;
  list-style: none;
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.social-links li {
  margin: 0 20px;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.social-links i {
  margin-right: 10px;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}

.social-links a {
  font-size: 18px;
  text-align: center;
  margin: 20px;
  font-size: 24px;
  text-decoration: none;
  color: blue;
}
.addthis_default_style {
text-align: left;
list-style: none;
margin: 0;
padding-left: 0;
}
.addthis_default_style li:first-child {
margin-left: -2px;
}
.addthis_default_style li {
display: inline-block;
line-height: 1.42857;
margin: 0;
padding: 0;
}
.addthis_default_style a {
display: block;
}
.social-icons {
float:right;
}
.social-icons a{ 
color: #337ab7;
text-decoration: none;
padding: 0px 0 0 15px;
border: 1px solid #337ab7;
border-radius: 50%;
width: 45px;
float: left;
margin: 5px;
height: 45px;
line-height: 45px; 
}
.simple-content ul li {
font-size: 18px;
line-height: 32px;
font-weight: 300;
margin-bottom: 18px;
list-style:none;
}
.simple-content ul li span {
display: block;
overflow: hidden;
}
@media (max-width: 768px) {
.mainBanner .img-logo {
display: initial;
width: auto;
height: auto;
margin-top: 50px;
margin-bottom: 40px;
}
.mainBanner h1, .mainBanner .h1 {
font-size: 25px; 
line-height: 35px;
text-align:center;
}
.mainBanner p {
margin-bottom: 15px;
font-size: 16px;
font-weight: 200;
text-align:center;
}
.mainBanner .img-iPhone { 
width: 267px; 
}
.featuresBtm {
margin-top: 50px;
}
img.img-btm {
width: 100%;
}
.side-nav {
position: fixed;
top: 45%;
right: 4px;
}
a.button {
text-decoration: none;
float: left;
line-height: 54px;
color: white;
display: block;
margin: 0 10%;
float: none;
margin-bottom: 20px;
}
a.button.button-stripe { 
margin: 0 10%;
}
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px ;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 100px;
  font-size: 30px;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.wrapper{
  color : black;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: white;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #05810b;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #05810b;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #05810b;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #05810b;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: black;
}


